          <div class="footer">
            <div class="contact">
              <p>
                Spencer Barton<br />
                spencer@spencerbarton.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/sbarton272">github.com/sbarton272</a><br />
                <a href="http://www.linkedin.com/pub/spencer-barton/40/705/320">linkedin.com/spencer-barton</a><br />
              </p>
            </div>
            <div class="copyright">
              <p>
                &copy; Copyright 2013 by Spencer Barton.
              </p>
            </div>  
          </div>