/* common */

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 15px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: justify;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
	color: black; 
	text-decoration: none;
	border-bottom: 1px dotted black;
	transition: all 0.5s;
	&:hover   { 
		color: black; 
	  text-decoration: underline;
		}
	&:visited { color: black; }
	&:focus {
	  outline: thin dotted;
	  outline: 5px auto -webkit-focus-ring-color;
	  outline-offset: -2px;
		}
	}

img {
  vertical-align: middle;
	.img-responsive {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.img-rounded {
	  border-radius: 6px;
	}
	.img-thumbnail {
	  padding: 4px;
	  line-height: 1.428571429;
	  background-color: #ffffff;
	  border: 1px solid #dddddd;
	  border-radius: 4px;
	  -webkit-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	  display: inline-block;
	  max-width: 100%;
	  height: auto;
	}
	.img-circle {
	  border-radius: 50%;
	}
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
