/* header */

.header {
  .title {
    display: inline-block;
    margin-bottom: 1.25em;
  }

  a {
    border-bottom: none;
    &.extra {
      color: #aaa;
      margin-left: 1em;
      &:hover {
        color: #000;
      }
    }
  }

  .title a {
    color: #a00;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
}