/* posts */

.post-list {
  list-style-type: none;
  margin-bottom: 2em;
}

.post-list li {
  line-height: 1.75em;
}

.post-list span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post-date {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  margin: 0;
}

.post-content pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post-content ul, .post ol {
  margin-left: 1.35em;
}

.post-content code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post-content pre code {
  border: none;
}

/* terminal */
.post-content pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post-content pre.terminal code {
  background-color: #333;
}